footer{
    position: relative;
    width: 100%;
    background-color: #383838;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category{
    width: 200px;
    display: grid;
    grid-gap: 10px;
    list-style: none;
}

.category-title{
    grid-column: span 2;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.category .footer-link{
    text-decoration: none;
    color: lightgrey;
}

.footer-link:hover{
    color:#fff ;
}

.footer.title, .info{
    color: #fff;
    margin: 20px 0;
}

.footer-title{
    margin-top: 40px;
    color: #fff;
}
.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-link{
    color: #fff;
    margin-left: 20px;
}

.social-link:nth-child(1){
    margin-left: 0;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color:  #fff;
    background: #383838;
}